// Primary Colors
$black: #323232;
$blue: #0095ff;
$silver: #afafaf;
$white: #fff;

// Secondary Colors
$dark-black: #000;
$dark-blue: #0065ad;
$mercury: #e1e1e1;
$alabaster: #fafafa;

// Urban Chic Colour Palette
$dark-indigo: #2c2c54;
$deep-purple-gray: #474787;
$cool-gray: #aaabb8;
$light-gray: #ececec;

//Serene Coastline Colour Palette
$soft-mint-green: #D1E8E2;
$deep-teal: #19747E;
$light-sky-blue: #A9D6E5;
$light-gray: #E2E2E2;
